/* Git Workflow Simulation Styles */

body {
    font-family: "Times New Roman", serif;
    background-color: #c3cccd;
    /* Ubah warna background */
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: blue;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
}